@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/netflixbannerBG.jpg);
    background-position: center center;
    /* to make the background move correctly when resized in different screens */
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    /*stop going blank when either of this is achieved */
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    /* to have a space between netflix logo and sign in buttons and push them to the edge, also make them responsive */
    margin: auto;
    /* to center the nav  */
    display: flex;
    /* cant make nav > div flex, has to be nav to center the buttons */
    align-items: center;
    height: 62px;
}

nav img {
    /* to make netflix logo red, we added fill in netflixlogo.svg */
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;

    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* to pop out the image out of the background */
    gap: 23px;
    padding: 0 30px;
    text-align: center;
    /* to make website responsive */
}

.hero> :first-child {
    /* > is used to make html know we are referring to immediate first child otherwise it changes it for inside div also */
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 46, 46);
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */


}
/* .separation2 {
    height: 7px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 100px;
    margin-top: 100px;

} */

.btn {
    padding: 3px 8px;

    font-weight: 400;
    color: white;
    background-color: rgba(21, 21, 21, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    
}

.btn-red-sm {
    background-color: red;
    color: white;
margin-left: 15px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
     margin-top: 10px;
}

.secImg video{
    position: absolute;
    top: 95px;
    right: 76px;
    width: 403px;
   
}  
section.first > div{
    display: flex;
    flex-direction: column;
} 
.first>div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first>div :nth-child(2){
    font-size: 24px;
}
.secImg2 video{
    position: absolute;
    top: 59px;
    right: 115px;
    width: 333px;
}  
.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faqbox{
    
    display: flex;
    justify-content: space-between  ;
    background-color: grey;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
